@import '_vars';

.btnCon {
    height: 71%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.4rem;
    padding: 0.7rem;
    .btn {
        &.blue {
            border: none;
            background-color: $white;
            color: $sky-400;
            &:hover {
                color: $sky-200;
            }
        }
        &.fullblue {
            background-color: $sky-400;
            color: $white;
            grid-row: span 2 / span 2;
            &:hover {
                color: $sky-200;
            }
        }
        @include btn
    }
}