@import '_vars';

.btnCon {
    height: 71%;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.4rem;
    padding: 0.7rem;
    .btn {
        font-size: 1.3rem;
        width: 4rem;
        border-radius: 1rem;
        border: none;
        background-color: $white;
        cursor: pointer;
        box-shadow: $shadow-md;
        &:hover {
            color: $slate-400;
        }
        &.blue {
            border: none;
            background-color: $white;
            color: $sky-400;
            &:hover {
                color: $sky-200;
            }
        }
        &.fullblue {
            background-color: $sky-400;
            color: $white;
            grid-row: span 2 / span 2;
            &:hover {
                color: $sky-200;
            }
        }
    }
}