@import '_vars';

.calculator {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 20rem;
    height: 32rem;
    margin: 0 auto;
    background-color: $white;
    box-shadow: $shadow-lg;
    border-radius: 0.5rem;
}