@import '_vars';

.result__list {
    position: absolute;
    width: 20rem;
}

.list {
    padding: 0;
    background-color: $white;
    border-radius: 0.5rem;
    margin: 0 auto;
    opacity: 0;
    height: 0;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    &.active {
        opacity: 1;
        height: 512px;
        max-height: 512px;
        overflow-y: scroll;
    }

    .item {
        padding: 0 10px;
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        .int {
            font-size: 1.6rem;
            color: $black;
        }
        .time {
            font-size: 1rem;
            color: $slate-400;
        }
    }
}