//colors
$sky-400: #38bdf8;
$sky-300: #7dd3fc;
$sky-200: #bae6fd;
$slate-400: #94a3b8;
$black: #000000;
$white: #ffffff;

//shadow
$shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
$shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);